body{
	font-family: "Arial",	"Arial",	sans-serif;
	text-align:center;
	font-size:12px;
}

header{
	background-image: url(../img/banner.jpg);
	width:940px;
	height:300px;
	position:relative;
	display: inline-block;
	background-size: cover;
}
header h1,h6{
	text-align: center;
	position:relative;
	color:white;
	display:center;
	border-color: black;
	
}
header button{
	text-align: center;
	position:relative;
	color:white;
	display:center;
	background: none;
	border-radius:20px;
	border-color:white;
	border-width: 1px;
	padding: 20px, 10px;
}
.leftsidebar{
	
	font-size: 12px;
	font-family: Arial;
	position:relative;
	padding-left: 270px;
	float: left;
	letter-spacing:1px;
	display:inline-block;
	width:500 px;
	
	
}
.leftsidebar h2{
	font-size: 12px;
	text-align: left;
	text-decoration: uppercase;
	
}
.leftsidebar h5{
	font-size: 10px;
	text-align:left;



}
.leftsidebar p{
	
	width: 490px;
	letter-spacing:1px;
	font-size: 10px;
	position:relative;
	text-align: justify;
	
}
.leftsidebar img{
	width:480px;
	height:200px;
	
}	

.rightsidebar{
	font-size: 10px;
	font-family: Arial;
	position:relative;
	padding-right: 250px;
	float: right;
	letter-spacing:1px;
	display: inline-block;
	text-align: justify;

	
}
.rightsidebar img{
	width:50px;
	height:50px;
	float:left;
	padding-top:20px;
	padding-right: 10px;
}
.rightsidebar section{
	padding-top: 25px;
	
}
.rightsidebar p{
	padding-top: 20px;
	height:50px;
	width:300px;
	
}
.bottomsidebar{
	padding: 200px,200px;
	display:inline-block;
}